
/* ------------------------------ Index ------------------------------ */

/* 1. Notes */

/* 2. Imports */

/* 2. Styles */

/* 3. Themes */

    /* 3.1 Dark */
    /* 3.2 Light */

/* ------------------------------ Notes to self ------------------------------ */

/* 1st th 1st */

/* VIEWPORT!!!!!!!!!!! */
/* Make sure the site is scrollable so that mobile devices can scroll up and press submit when the keyboard blocks the submit button*/

/*@media screen and (min-width: 576px) {*/
/*    p {*/
/*        font-size: 14px;*/
/*    }*/
/*}*/
/*@media screen and (min-width: 768px) {*/
/*    p {*/
/*        font-size: 14px;*/
/*    }*/
/*}*/
/*@media screen and (min-width: 992px) {*/
/*    p {*/
/*        font-size: 16px;*/
/*    }*/
/*}*/
/*@media screen and (min-width: 1200px) {*/
/*    p {*/
/*        font-size: 16px;*/
/*    }*/
/*}*/
/*@media screen and (min-width: 1600px) {*/
/*    p {*/
/*        font-size: 16px;*/
/*    }*/
/*}*/

/* TODOS on LoginPage.jsx */

/* evaluate whether box shadow is something I want to use, it'll be either
lifted or flat but both won't work*/

/* ------------------------------ Imports ------------------------------ */

@import '/src/styles/variables.css';

/* ------------------------------ Styles ------------------------------ */

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-container {
    display: flex;
    flex-direction: column;
    /*z-index: 1;*/
    padding: 24px;
    border-radius: 12px;
    min-width: 300px;
    min-height: 500px;
    max-width: 300px;
    max-height: 500px;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--section-background-color__dark);
    overflow: hidden;
}

.section-header {
    margin-top: 15px;
    margin-bottom: 15px;
}

.input-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
}

#username {
    tab-index: 1;
}

#password {
    tab-index: 2;
}

#submit-button {
    tab-index: 3;
}

.input-field {
    padding: 10px 20px;
    box-shadow: none;
    outline: none;
    border-radius: 8px;
}

.submit-button {
    margin-top: 15px;
    border-radius: 8px;
    cursor: pointer;
    padding: 10px 50px;
    box-shadow: none;
    outline: none;
}

.error-message {
    padding: 5px;
    margin: 10px;
    font-size: 1.5rem;
}

.link {
    margin-top: 15px;
    color: var(--link-color__dark);
    padding: 5px;
    border-radius: 8px;
}

/* ------------------------------ Themes ------------------------------ */

/* ------------------------------ Dark ------------------------------ */

.wrapper__dark {
    background-color: var(--wrapper-background-color__dark);
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*z-index: -1;*/
    /*background: url("src/assets/Adobe Express - HDCyberfunk.gif") no-repeat center center;*/
    /*background-size: cover;*/
}

.section-container__dark {
    border: 1px solid var(--section-border-color__dark);
}

/*.section-header__dark {*/

/*}*/

/*.input-group__dark {*/
/*    border: 1px solid var(--color);*/
/*}*/

.input-field__dark {
    background-color: var(--input-background-color__dark);
    color: var(--input-color__dark);
    border: 1px solid var(--input-border-color__dark);
}

.input-field__dark:hover , .input-field__dark:focus, .input-field__dark:autofill {
    background-color: var(--input-focus-background-color__dark);
    color: var(--input-focus-color__dark);
    border: 1px solid var(--input-focus-border-color__dark);
}

.submit-button__dark {
    background-color: var(--submit-button-background-color__dark);
    color: var(--submit-button-color__dark);
    border: 1px solid var(--submit-button-border-color__dark);
}

.submit-button__dark:hover, .submit-button__dark:focus {
    background-color: var(--submit-button-focus-background-color__dark);
    color: var(--submit-button-focus-color__dark);
    border: 1px solid var(--submit-button-focus-border-color__dark);
}

/*.error-message__dark {*/
/*    */
/*}*/

/*.link__dark {*/
/*    */
/*}*/

.link__dark:hover {
    color: var(--link-focus-color__dark);
}

/* ------------------------------ Blue ------------------------------ */

/*.wrapper__blue {*/
/*    background-color: var(--background-color);*/
/*}*/

/*.section-container__blue {*/
/*    border: 1px solid var(--color);*/
/*}*/

/*.input-group__blue {*/
/*    border: 1px solid var(--color);*/
/*}*/

/*.input-group__blue input {*/
/*    margin: 0 10px;*/
/*}*/

/*.submit-button__blue {*/
/*    background-color: var(--color);*/
/*}*/

/*.error-message__blue {*/
/*    */
/*}*/

/*.link__blue {*/
/*    */
/*}*/