

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    margin-bottom: 25px ;
}

.wrapper__dark {
    background-color: var(--wrapper-background-color__dark);
    color: var(--color__dark);
}